<h1>Recipes</h1>

<% if flash %>
  <p><%= flash[:error] %></p>
<% end %>

<table>
  <tr>
    <th></th>
    <th>Recipe</th>
    <th>Instructions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td> <%= image_tag recipe.recipe_image.thumb.url %></td>
    <td><%= link_to recipe.title, recipe %></td>
    <td><%= recipe.instructions %></td>
    <% if can? :create, Recipe %>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Recipe %>
  <%= link_to 'New Recipe', new_recipe_path %>
<% end %>