<!DOCTYPE html>
<html>
<head>
  <title>Thecooboo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Recipes', recipes_path %></h1>
<h1><%= link_to 'Ingredients', ingredients_path %></h1>
<%= yield %>

</body>
</html>
